<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.usedBooks.frontStage.shopCart.shopCartDetail.mapper.ShopCartDetailMapper">
    <!--   -->
    <!--  @authorVakoe  -->
    <!--  @date2019年03月12日 14:17 -->
    <sql id="baseSearchSql">
        <if test="bookId != null">
            and publish_id = #{bookId , jdbcType=INTEGER}
        </if>
        <if test="purchaseQuantity != null">
            and purchase_quantity = #{purchaseQuantity , jdbcType=DOUBLE}
        </if>
        <if test="shopCartId != null">
            and shop_cart_id = #{shopCartId , jdbcType=INTEGER}
        </if>
    </sql>
    <sql id="listSearchSql">
        <if test="bookId != null">
            and a.publish_id = #{bookId , jdbcType=INTEGER}
        </if>
        <if test="purchaseQuantity != null">
            and a.purchase_quantity = #{purchaseQuantity , jdbcType=DOUBLE}
        </if>
        <if test="shopCartId != null">
            and a.shop_cart_id = #{shopCartId , jdbcType=INTEGER}
        </if>
        <if test="name != null">
            and name = #{name,jdbcType=VARCHAR}
        </if>
    </sql>
    <sql id="Base_Column_List">
      id,  purchase_quantity, shop_cart_id,publish_id
    </sql>
    <sql id="list_column">
        a.id, a.purchase_quantity, a.shop_cart_id,a.publish_id
    </sql>


    <select id="toList" resultType="com.usedBooks.frontStage.shopCart.vo.ShopCartDetailVo">
        SELECT
        <include refid = "list_column" />,
        m0.user_name,
        m0.quantity AS store,
        m0.original_price,
        m0.price,
        m0.book_id,
        m0.NAME AS bookName
        FROM
        shop_cart_detail a
        INNER JOIN (
        SELECT
        t1.user_name,
        t2.NAME,
        t0.quantity,
        t2.original_price,
        t0.price,
        t0.id,
        t2.id AS book_id
        FROM
        publish t0
        INNER JOIN user t1 ON t0.user_id = t1.id
        INNER JOIN book t2 ON t0.book_id = t2.id
        WHERE
        t0.publish_type = 2
        ) m0 ON m0.id = a.publish_id
        inner join shop_cart
        on shop_cart.id = a.shop_cart_id
        <where>
            <include refid = "listSearchSql" ></include >
            and shop_cart.user_id = #{userId}
        </where>
    </select>



    <!--in查询-->
    <select id="findByIds" resultType="com.usedBooks.frontStage.shopCart.vo.ShopCartDetailVo">

        SELECT
        <include refid = "list_column" />,
        m0.user_name,
        m0.quantity AS store,
        m0.original_price,
        m0.price,
        m0.book_id,
        m0.NAME AS bookName
        FROM
        shop_cart_detail a
        INNER JOIN (
        SELECT
        t1.user_name,
        t2.NAME,
        t0.quantity,
        t2.original_price,
        t0.price,
        t0.id,
        t2.id AS book_id
        FROM
        publish t0
        INNER JOIN USER t1 ON t0.user_id = t1.id
        AND t1.id = #{userId}
        INNER JOIN book t2 ON t0.book_id = t2.id
        WHERE
        t0.publish_type = 2
        ) m0 ON m0.id = a.publish_id
        where a.id in
        <foreach item="item" index="index" collection="ids"
                 open="(" separator="," close=")">
            #{item}
        </foreach>

    </select>

</mapper>