<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.usedBooks.manager.dictionaryModule.mapper.DictionaryMapper">
  <!--   -->
  <!--  @authorVakoe  -->
  <!--  @date2019年03月12日 10:12 -->
  <sql id="baseSearchSql">
    <if test="dictName != null">
      and dict_name = #{dictName , jdbcType=VARCHAR}
    </if>
    <if test="dictCode != null">
      and dict_code = #{dictCode , jdbcType=VARCHAR}
    </if>
  </sql>
  <resultMap id="BaseResultMap" type="com.usedBooks.manager.dictionaryModule.pojo.Dictionary">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="dict_name" jdbcType="VARCHAR" property="dictName" />
    <result column="dict_code" jdbcType="VARCHAR" property="dictCode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, dict_name, dict_code
  </sql>

    <select id="toList" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include>
        from dictionary
        <where>
            <include refid="baseSearchSql"></include>
            <if test="keyword != null ">
                and (dict_name like #{keyword} or dict_code like #{keyword})
            </if>
        </where>
    </select>
</mapper>